{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 120,
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "singleQuote": true
}
