*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@property --gap{
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --angle{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

html{
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family:  "Marmelad", serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6d6d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFA5BA;
  transition: 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EC4B72;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

section{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.section-content{
  max-width: 1200px;
  width: 100%;
}

.section-content:not(.no-padding){
  padding: 20px;
}

@keyframes backgroundZoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

.lang-icon{
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
 
}

:root {
  --pink-light: #ff7eb4;
  --pink: #ff2581;
}


@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--pink);
  }
}

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink-light);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
